body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: black;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
	font-size:62.5%;
}


h2, h3, h4 {
	/* font-family: 'Raleway', sans-serif; */
	font-family: Georgia, serif;
}
h2 {
	text-transform: uppercase;
	margin: 0 0 2rem 0;
	font-weight: 800;
	font-size: 3.6rem;
	color: #333;
}
h3 {
	font-size: 2rem;
	font-weight: 600;
	color: #333;
}
h4 {
	font-size: 1.8rem;
	color: #333;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 2rem;
}
p {
	font-size: 1.5rem;
}
p.intro {
	margin: 1.2rem 0 0;
	line-height: 2.4rem;
}
a {
	color: #608dfd;
	font-weight: 400;
}
a:hover, a:focus {
	background-color: #212121;
	text-decoration: none;
	color: #608dfd;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	/* webkit-padding: 0;
	moz-padding: 0; */
}
hr {
	height: .2rem;
	width: 7rem;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 2rem;
	border: 0;
}
.home-content{
	margin: 0;
	padding: 0;
}
/* Navigation */
#menu {
	padding: .5rem;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 1rem rgba(0,0,0,0.15)
}
#menu a.navbar-brand {
	/* font-family: 'Raleway'; */
	font-family: Georgia, serif;
	font-size: 4.4rem;
	font-weight: 800;
	color: cadetblue;
	text-transform: uppercase;
}
#menu a.navbar-brand .ayush {
	/* font-family: 'Raleway'; */
	font-family: Georgia, serif;
	font-size: 4.4rem;
	font-weight: 800;
	color: #555;
	text-transform: uppercase;
}
#menu a.navbar-brand .ayushk{
	 margin-top: .1rem;
	padding-top: 4rem; 
	/* font-family: 'Raleway'; */
	font-family: Georgia, serif;
	font-size: 1.2rem;
	color: #1E7A46;
	text-transform: lowercase;
}
#menu.navbar-default .navbar-nav > li > a {
	font-family: monospace;
	text-transform: uppercase;
	color: #555;
	font-size: 1.5rem;
	font-weight: 400;
	padding: .8rem .2rem;
	border-radius: 0;
	margin: .9rem 2rem 0 2rem;
}
/* #menu.navbar-default .navbar-nav > li > a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	content: "";
	transition: width 0.2s;
	
} */
#menu.navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
	
	
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	
}
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -0.1rem !important;
	width: 100% !important;
	height: .2rem !important;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
	
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #608dfd;
}
.section-title {
	margin-bottom: 7rem;
}
.section-title h2 {
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: .4rem;
	width: 6rem;
	bottom: 0;
	margin-left: -3rem;
	left: 50%;
}
.section-title p {
	font-size: 1.8rem;
}
.btn-custom {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #5ca9fb;
	background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	padding: 1.4rem 3.4rem;
	letter-spacing: .1rem;
	margin: 0;
	font-size: 1.5rem;
	font-weight: 500;
	border-radius: 2.5rem;
	transition: all 0.5s linear;
	border: 0;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-image: none;
	background-color: #6372ff;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background:url('https://source.unsplash.com/1600x1200/?nature,dam') no-repeat center center fixed;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.2);
}
.intro h1 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 8.2rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 1rem;
}
.intro h1 span {
	font-weight: 800;
	color: #5ca9fb;
}
.intro p {
	color: #fff;
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 3rem;
	margin: 0 auto;
	margin-bottom: 6rem;
}
header .intro-text {
	padding-top: 35rem;
	padding-bottom: 20rem;
	text-align: center;
}

/* About Section */
#about {
	padding: 14rem 0;
}
#about #has {
	font-size: 2.2rem;
	margin: 0 0 2rem 0;
}
#about h2 {
	position: relative;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
}
#about h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: .4rem;
	width: 6rem;
	bottom: 0;
	left: 0;
}
#about .about-text li {
	margin-bottom: .6rem;
	margin-left: .6rem;
	list-style: none;
	padding: 0;
}
#about .about-text li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: #5ca9fb;
	font-size: 1.1rem;
	font-weight: 300;
	padding-right: .8rem;
}


	@keyframes example{
		0% {background-image: url('../img/services/1.jpg');background-repeat: no-repeat;}
		5% {background-image: url('../img/services/2.jpg') ;background-repeat: no-repeat;}
		10% {background-image: url('../img/services/2.jpg') ;background-repeat: no-repeat;}
		15% {background-image: url('../img/services/3.jpg') ;background-repeat: no-repeat; }
		20% {background-image: url('../img/services/3.jpg') ;background-repeat: no-repeat; }
		25% {background-image: url('../img/services/4.jpg') ;background-repeat: no-repeat;}
		30% {background-image: url('../img/services/4.jpg') ;background-repeat: no-repeat;}
		35% {background-image: url('../img/services/5.jpg') ;background-repeat: no-repeat;}
		40% {background-image: url('../img/services/5.jpg') ;background-repeat: no-repeat;}
		45% {background-image: url('../img/services/6.jpg') ;background-repeat: no-repeat;}
		50% {background-image: url('../img/services/6.jpg') ;background-repeat: no-repeat;}
		55% {background-image: url('../img/services/7.jpg') ;background-repeat: no-repeat;}
		60% {background-image: url('../img/services/7.jpg') ;background-repeat: no-repeat;}
		65% {background-image: url('../img/services/8.jpg') ;background-repeat: no-repeat;}
		70% {background-image: url('../img/services/8.jpg') ;background-repeat: no-repeat;}
		75% {background-image: url('../img/services/9.jpg') ;background-repeat: no-repeat;}
		80% {background-image: url('../img/services/9.jpg') ;background-repeat: no-repeat;}
		100% {background-image: url('../img/services/5.jpg') ;background-repeat: no-repeat;}
	}

#about .img-container{
	width: 55rem;
	height:40rem;
	margin-top: 1rem;
	/* background: #fff; */
	border-right: 0;
	box-shadow: 0 0 5rem rgba(0,0,0,0.06);
	max-width: 100%;
    animation-name: example; 
	animation-duration:100s;
	/* animation-delay: 2s; */
	animation-iteration-count: infinite;
}
#about p {
	line-height: 2.4rem;
	margin: 3rem 0;
}

/* Services Section */
#services {
	padding: 14rem 0;
	background: linear-gradient(to right, pink 0%, #5ca9fb 100%);
	color: #fff;
	background-color: #ff4c68;
}
#services .service-desc {
	margin: 1rem 1rem 2rem;
}
#services h2 {
	color: #fff;
}
#services .section-title h2::after {
	position: absolute;
	content: "";
	background: rgba(255,255,255,.3);
	height: .4rem;
	width: 6rem;
	bottom: 0;
	margin-left: -3rem;
	left: 50%;
}
#services i.fa {
	font-size: 4.2rem;
	width: 12rem;
	height: 12rem;
	padding: 4rem 0;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	border-radius: 50%;
	color: #fff;
	box-shadow: 1rem 1rem 1rem rgba(0,0,0,.05);
}
#services h3 {
	font-weight: 500;
	padding: .5rem 0;
	color: #fff;
}
#services p {
	color: rgba(255,255,255,.75);
}
#services .service-desc {
	margin-bottom: 4rem;
}
/* Portfolio Section */
#portfolio {
	padding: 14rem 0;
}
.portfolio-item {
	margin: .1rem -1.5rem 0 -1.4rem;
	padding: 0;
}
.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
	margin: 0;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: linear-gradient(to right, rgba(99,114,255,0.8) 0%, rgba(92,169,251,0.8) 100%);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	font-weight: 500;
	text-transform: uppercase;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* .col-sm-6 img{
	width: 46rem;
	height: 30rem;
} */
.img-responsive{
	width:-webkit-fill-available;
}
/* Testimonials Section */
#testimonials {
	padding: 14rem 0;
	background: #f6f6f6;
}
#testimonials i {
	color: #e6e6e6;
	font-size: 3.2rem;
	margin-bottom: 2rem;
}
.testimonial {
	position: relative;
	padding: 2rem;
}
.testimonial-image {
	float: left;
	margin-right: 1.5rem;
}
.testimonial-image, .testimonial-image img {
	display: block;
	width: 6.4rem;
	height: 6.4rem;
	border-radius: 50%;
}
.testimonial-content {
	position: relative;
	overflow: hidden;
}
.testimonial-content p {
	margin-bottom: 0;
	font-size: 1.4rem;
	font-style: italic;
}
.testimonial-meta {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 600;
	color: #666;
}

/* Contact Section */
#contact {
	padding: 14rem 0 6rem 0;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	color: rgba(255,255,255,.75);
	background: url('../img/earth.jpg');
	background-color: #0078ff;
}
#contact .section-title {
	margin-bottom: 4rem;
}
#contact .section-title p {
	font-size: 2rem;
}
#contact h2 {
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
}
#contact .section-title h2::after {
	position: absolute;
	content: "";
	background: rgba(255,255,255,.3);
	height: .4rem;
	width: 6rem;
	bottom: 0;
	left: 3rem;
}
#contact #ha {
	color: #fff;
	margin-top: 8rem;
	margin-bottom: 2.5rem;
	padding-bottom: 2rem;
	font-weight: 400;
}
#contact form {
	padding-top: 2rem;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
#contact .btn-custom {
	margin: 3rem 0;
	background: transparent;
	border: .2rem solid #fff;
}
#contact .btn-custom:hover {
	color: #1f386e;
	background: #fff;
}
label {
	font-size: 1.2rem;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
	background-color: black;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: .8rem 2rem;
	font-size: 2rem;
	line-height: 1.42857143;
	color: #444;
	background-color: white;
	background-image: none;
	border: .4rem solid #ddd;
	border-radius: 1rem;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 2rem 0;
	
}
#contact .contact-item span {
	color: rgba(255,255,255,1);
	margin-bottom: 1rem;
	display: block;
	
}
#contact .contact-item i.fa {
	margin-right: 1rem;
	
}
#contact .social {
	border-top: .1rem solid rgba(255,255,255,0.15);
	padding-top: 5rem;
	margin-top: 5rem;
	text-align: center;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 2rem;
}
#contact .social i.fa {
	font-size: 2.2rem;
	width: 4.8rem;
	height: 4.8rem;
	padding: 1.2rem 0;
	border: .2rem solid #fff;
	color: #fff;
	border-radius: 50%;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	/* color: #608dfd; */
	color:blue;
	background: #fff;
	
}
/* Footer Section*/
#footer {
	background: #f6f6f6;
	background-image: url('../img/backfoot.png');
	padding: 5rem 0;
}
#footer p {
	color: white;
	font-size: 2rem;
}
#footer a {
	color: #608dfd;
	
}
#footer a:hover {
	border-bottom: .2rem solid #608dfd;
}


@media only screen and (max-width: 600px) {
    
    img > #logo-nav{
		margin:auto;
		height: 10rem;
	}
  }

@media(max-width:998px){
	html{
		font-size: 55%;
	}
}


@media (max-width: 768px) {
	html{
		font-size: 45%;
	}
	
/* #about img {
	margin: 50px 0;
} */
}
@media only screen and (max-width: 600px) {
    
     #logo-nav{
		margin:-1.8rem;
		width:100%;
	}
	.home-content{
		width: fit-content;
	}
	#services{
		width: fit-content;
	}
	#portfolio{
		width:fit-content;
	}
	
  }
  @media (max-width:400px){
	#about .image-container{
		width: 30rem;
	}
  }


