.noHover{
    pointer-events: none;
}
.alpha{
    position: relative;
    top: 90px;
    background-color: white;
}
.title{
    height: 140px;
    border: 1px solid black;
    background-color: #3C3950F0;
    color:white;
    text-align: center;
    padding:15px 0px;
    font-size: 30px;
}
.landing{
    position: relative;
    top: 0px;
    /* height: 100px; */
    background-color:white;
    padding-bottom:40px;
}
#intro-part{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-size:30px;
    
}

.gama{
    padding-left: 200px;
    height: 340px;
    padding-top: 0px;
    margin-bottom: 30px;
    
}
 .img1{
    float: right;
    padding-right: 120px;
    margin-bottom: 100px;
}
.content{
    padding-top: 150px;
    height: 750px;
    background-color: #F5F5FC;
    padding-left: 100px;
}
 .img2{
    float: left;
    padding-right: 120px;
}
.content-text{
    padding-right:100px;
}




