@import url('./global.css');

.main {
  width: 100vw;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  /* 创建3D透视 */
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  /* 透视消失点坐标 */
  perspective-origin: left top;
  transform-style: preserve-3d;
  position: relative;
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding-top: 25px;
    transition: 0.3s transform, 0.3s background-color;
    z-index: 2;
    .top-bar {
      padding: 0 4rem;
      font-size: 22px;
    }
  }
  .main-part {
    position: relative;
    z-index: 1;
    transform-origin: left top 0px;
    transform: scale(2) translateZ(-1px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../../public/bg.jpg');
    background-size: cover;

    .left {
      height: 600px;
      max-width: 600px;
      flex: auto;
      background-color: #1a1a1a;

      img {
        object-fit: cover; 
        filter: grayscale(100%); 
      }
    }
    .right {
      width: 500px;
      // height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .title {
      text-align: center;
      font-size: clamp(3.5rem, 8vw, 120px);
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: clamp(2rem, 8vw, 4rem);
    }
    .slogan {
      text-align: center;
      font-size: clamp(1rem, 3vw, 32px);
      font-weight: 700;
      line-height: 1.15;
      color: #828282;
    }
  }
  .service {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #16161b;
    // background: linear-gradient(to bottom, rgba(0,0,0,0.5), #16161b);;
    
    h1 {
      font-size: 56px;
      margin-bottom: 20px;
    }
    .service-list {
      margin-top: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  .team {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0c0c0d;
    padding-top: 150px;
    .top-left {
      width: 80%;
      height: 100%;
      margin-bottom: 36px;
      h1 {
        font-size: 56px;
        margin-bottom: 26px;
      }
      .logos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .divider {
          width: 1px;
          height: 50px;
          background-color: #aaaaaa;
          margin: 0 40px;
        }
        .logo-items {
          display: flex;
          align-items: center;
          justify-content: space-between;
          img {
            width: 70px;
            height: 70px;
            margin-right: 20px;
            object-fit: contain;
            border: 1px #373743 solid;
            // background-color: #16161b;
            &:last-child {
              margin-right: none;
            }
          }
        }
        
      }
    }
    .team-advantages-list {
      display: flex;
      flex-direction: column;
      width: calc(100% - 100px);
      background-color: #16161b;
      padding: 30px 150px;
      .advantage {
        display: flex;
        align-items: center;
        img {
          margin: 10px;
        }
      }
    }
  }
  .partner {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0c0c0d;
    h1 {
      font-size: 56px;
      width: 300px;
      margin-bottom: 20px;
    }
    .investors-desc {

    }
    .partner-imgs {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 680px;
    }
    .partner-img {
      width: 204px;
      height: 204px;
      padding: 10px;
      // background-color: #fff;
      object-fit: contain;

      &.white {
        background-color: #fff;
      }
      &.transparent {
        background-color: transparent;
        border: 1px solid #fff;
      }
      &.black {
        background-color: #000;
        border: 1px solid #fff;
        padding: 5px;
      }
    }
  }
  .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #0c0c0d;
    font-size: 14px;
    padding: 10px 50px;
    color: #aaa;
  }
  footer {
    font-size: 14px;
    background-color: #0c0c0d;
    padding: 10px 50px;
    color: #aaa;
  }
}
@media screen and (max-width: 600px) {
  .main {
    header {
      .top-bar {
        font-size: 14px;
        padding: 0 20px;
        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }
    }
    .main-part {
      position: relative;
      padding: 0 20px;
      .left {
        display: none;
      }
    }
    .service {
      height: auto;
      padding: 50px 20px;
      padding-top: 70px;
      padding-bottom: 0;
      .service-list {
        height: auto;
        flex-direction: column;
      }
    }
    .team {
      height: 100%;
      padding-top: 50px;
      .top-left {
        width: auto;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logos {
          flex-direction: column;
          .divider {
            display: none;
          }
          .logo-items {
            margin-top: 50px;
          }
       }
      }
      .team-advantages-list {
        flex-direction: column;
        width: calc(100% - 40px);
        padding: 10px;
      }
    }
    .partner {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      .partner-imgs {
        width: 100%;
        padding: 20px;
        margin-top: 50px;
        .partner-img  {
          margin-bottom: 10px;
          width: 100px;
          height: 100px;
        }
      }
    }
    .contact {
      .contact-item {
        text-align: left;
      }
    }
  }

}