.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  img {
    width: 121px;
    height: 121px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-bottom: 33px;
  }
  .service-name {
    margin-bottom: 38px;
  }
}