.intro {
  display: table;
    width: 100%;
    padding: 0;
    background: url(../img/intro-bg.jpg) center center no-repeat;
    background-color: #e5e5e5;
    opacity: 0.7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro h1 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}