#about .list-style ul li{
    font-size:2rem;
    border-radius: 0px;
}
h3{
    font-size:3rem;
}
h4{
    font-size:2.5rem;
}
p{
    font-size:2rem;
}
.list-style ul li{
    pointer-events: none;
}
.about-link{
    pointer-events: none;
}

@media screen  and (max-width:991px){
    h2{
        padding-top: 5rem;
    }
}
