
ul li{
    margin: 8px;
    border-radius: 20px;
    
}

#menu{
    padding: 10px 0;
}
li:hover {
    background-color:grey;
    color: transparent;
}
#menu.navbar-default .navbar-nav > li > a {
    color: black;
    text-align: center;
    padding-bottom: 1.5rem;
    
}
#menu.navbar-default .navbar-nav > li > a:hover {
    color:white;
}

