.contact-item {
  display: flex;
  align-items: center;
  &:first-child {
    margin-bottom: 10px;
  }
  .left {
    margin-right: 10px;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}