@media screen and (max-width: 768px) {
  #Fans {
    padding: 20px;
    width: 111%;
  }
  #about,
  #Artists,
  #Insights,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
