.article-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
  }
  
  /* Create four equal columns that sits next to each other */
  .article-column {
    flex: 15%;
    max-width: 25%;
    padding: 0 2px;
    margin: 70px 70px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }